# Copy this file to something like .crawlconf
# and change the appropriate values to reflect the
# local installation!

[base]
basedir = /path/to/basedir


[digg]
hosts = digg.com www.digg.com
seeds =

[ebags]
hosts = ebags.com www.ebags.com
seeds =


[literotica]
hosts = literotica.com www.literotica.com
seeds =


[macys]
hosts = macys.com www.macys.com
seeds =


[menupages]
hosts = menupages.com www.menupages.com
seeds =


[nordstrom]
hosts = nordstrom.com www.nordstrom.com shop.nordstrom.com
seeds =


[yelp]
hosts = yelp.com www.yelp.com
seeds =

