!!! Strict
%html{ html_attrs("en_us") }
  %title= "Bagging"
  %script{ :type => "text/javascript", :src => "/js/lib/jquery.min.js"}
  %script{ :type => "text/javascript", :src => "/js/lib/"}
%body
  = yield
  