!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title= "Bagfoo"
    %script{ :type => "text/javascript", :src => "/js/lib/jquery.js" }
    %script{ :type => "text/javascript", :src => "/js/lib/json.js"}
    %script{ :type => "text/javascript", :src => "/js/lib/jqmodal.js" }
    %script{ :type => "text/javascript", :src => "/js/lib/common.js" }
    %script{ :type => "text/javascript", :src => "/js/lib/request.js" }
    %script{ :type => "text/javascript", :src => "/js/lib/service.js" }
    %script{ :type => "text/javascript", :src => "/js/widget/modal.js" }
    %script{ :type => "text/javascript", :src => "/js/widget/recommendation.js" }
    %script{ :type => "text/javascript", :src => "/js/widget/multi_question.js" }
    %script{ :type => "text/javascript", :src => "/js/widget/input_question.js" }
  %body
    %h1= "Bagfoo"
    = yield