!!! Strict
%html{ html_attrs("en_us") }
  %title= "Bagfoo"
  - ["jquery.js", "json.js", "jqmodal.js"].each do |lib_js|
    %script{ :type => "text/javascript", :src => "/js/lib/#{lib_js}"}
  - ["common.js", "request.js", "service.js", "modal.js", "recommendation.js", "question.js"].each do |app_js|
    %script{ :type => "text/javscript", :src => "/js/#{app_js}"}
  %link{ :href => "css/jqmodal.css", :type => "text/css", :rel => "stylesheet" }
%body
  = yield
  #modal