!!! Strict
%html{ html_attrs("en_us") }
  %title= "HandBaggin'"
  %script{ :type => "text/javascript", :src => "/js/lib/jquery.js" }
%body
  %h2= "HandBaggin'"
  = yield
  #modal
    #message
    %a#close{ :href => "#" }= "CLOSE"
:javascript
  //$(function() {var ms = $('#modal').setModal();});